.addNote {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; /* Agrega un borde alrededor del formulario */
    border-radius: 5px; /* Agrega esquinas redondeadas */
  }
  
  .addNote input,
  .addNote textarea {
    margin-bottom: 10px;
    resize: none;
  }
  
.color-dropdown {
  width: 100%;
}

.color-dropdown-menu {
  width: 15%;
}

.color-dropdown-item {
  display: flex;
  align-items: center;
}

/* Visulización del color */
.color-preview {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid black; /* Añade un borde negro alrededor del cuadro de color */
}

.addNote button {
  margin-top: 10px;
}
